# Godot 4+ specific ignores
.godot/
*.godot/
/android/
addons/
spiritcorps/.godot/editor/filesystem_cache10
spiritcorps/.godot/editor/project_metadata.cfg
/spiritcorps/.godot
spiritcorps/.godot/global_script_class_cache.cfg
spiritcorps/.godot/editor/project_metadata.cfg
spiritcorps/.godot/editor/filesystem_cache10
